.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1{
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.filters {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
}