.search-bar {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 5px 10px;
    background-color: var(--surface-color);
    color: var(--secondary-color);
    width: 100%;
    max-width: 400px;
}

.search-bar input {
    outline: none;
    background-color: var(--surface-color);
    font-family: var(--font-family);
    color: var(--secondary-color);
    border: none;
    width: 100%;
}

.search-bar input:focus {
    box-shadow: 0 0 8px var(--primary-color);
}

@media (max-width: 480px) {
    .search-bar {
        max-width: none;
    }
}